<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NODE FORCE</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="/">Home</a></li> -->
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li> -->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<script>


</script>
<div class="container-fluid">
<h2>Create a Contact records</h2>
<form action ="/createcontact" method = "POST" class="form-horizontal>

	<div class="form-group">
    <label for="exampleInputEmail1">Contact Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="accountname" placeholder="Name"/>
	</div>
	<div class="form-group">
    <label for="exampleInputphone">Contact Phone</label>
    <input type="text" class="form-control" id="exampleInputphone" name="accountphone" placeholder="Phone"/>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary">Save Contact</button>
</form>
</div>

</body>
</html>
